.gallery {
   &__block {
      min-height: 333px;

      @include media($screen-xl) {
         min-height: auto;
      }
   }

   &__box {
      position: relative;

      &::after {
         @include filter;
         width: 0;

         transition: 0.5s;
         transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);

         @include media($screen-md) {
            width: 100%;
         }
      }
      &:last-child::after {
         right: 0;
         left: auto;
      }
      &:hover::after {
         width: 100%;
      }
      &:hover .box__inner {
         color: $primary-color-light;
      }
      &:first-child .btn-more {
         &::before {
            left: auto;
            right: 0;
         }
      }
      &:last-child .btn-more {
         &::before {
            left: 0;
         }
      }
      &:hover button {
         color: $primary-color-light;
         border: 3px solid $primary-color-light;
      }
   }
}

.box {
   &__img {
      position: absolute;
      width: 100%;
      height: 100%;

      object-fit: cover;
      z-index: 0;
   }

   &__inner {
      position: relative;
      z-index: 10;

      height: 100%;
      padding: 40px 20px;

      display: grid;
      text-align: center;
      align-items: center;
      justify-items: center;
      align-content: center;

      color: transparent;
      transition: 0.3s ease;
      transition-delay: 0.3s;

      .inner__title,
      .inner__paragraph {
         margin-bottom: 30px;
         max-width: 600px;
      }
      button {
         color: transparent;
         border: 3px solid transparent;

         &:hover {
            color: $brand-color;
         }
         @include media($screen-md) {
            color: $primary-color-light;
            border: 3px solid $primary-color-light;
         }
      }

      @include media($screen-md) {
         color: $primary-color-light;
      }
   }
}

.filter-btn {
   max-width: 640px;
   margin: 0 auto 40px;

   button {
      margin-bottom: 10px;
      margin-right: 5px;
   }
}
